<h1 mat-dialog-title>Adding Activity</h1>
<div mat-dialog-content fxLayout="row">
  <div fxFlex="30" style="margin: 5px;">
    <ngx-treeview
      [config]="config"
      [items]="items"
      (selectedChange)="onSelectedChange($event)"
      (filterChange)="onFilterChange($event)">
    </ngx-treeview>
  </div>
  <div fxFlex style="margin: 5px;">
    <form [formGroup]="activityForm" (ngSubmit)="onFormSubmit(activityForm.value)">
      <mat-form-field>
        <input matInput placeholder="Activity code" formControlName="activityCode">
      </mat-form-field>
      <mat-error>
        <span *ngIf="!activityForm.get('activityCode').valid && activityForm.get('activityCode').touched">Please provide activity code</span>
      </mat-error>

      <mat-form-field>
        <input matInput placeholder="Transaction code" formControlName="transactionCode" readonly>
      </mat-form-field>
      <mat-error>
        <span *ngIf="!activityForm.get('transactionCode').valid && activityForm.get('transactionCode').touched">Please activity code</span>
      </mat-error>

      <mat-form-field>
        <input matInput placeholder="Activity" formControlName="activity">
      </mat-form-field>
      <mat-error>
        <span *ngIf="!activityForm.get('activity').valid && activityForm.get('activity').touched">Please provide activity name</span>
      </mat-error>

      <mat-form-field>
        <input matInput placeholder="Where" formControlName="where">
      </mat-form-field>
      <mat-error>
      <span
        *ngIf="!activityForm.get('where').valid && activityForm.get('where').touched">Please provide activity will take place</span>
      </mat-error>

      <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder="Pick submission date" formControlName="submissionDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-error>
        <span *ngIf="!activityForm.get('submissionDate').valid && activityForm.get('submissionDate').touched">Please pick activity submission date</span>
      </mat-error>

      <mat-form-field>
        <input matInput [matDatepicker]="picker2" placeholder="Pick planned start date"
               formControlName="plannedStartDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <mat-error>
        <span *ngIf="!activityForm.get('plannedStartDate').valid && activityForm.get('plannedStartDate').touched">Please pick activity planned start date</span>
      </mat-error>

      <mat-form-field>
        <input matInput [matDatepicker]="picker3" placeholder="Pick planned end date"
               formControlName="plannedEndDate">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>
      <mat-error>
        <span *ngIf="!activityForm.get('plannedEndDate').valid && activityForm.get('plannedEndDate').touched">Please pick activity planned end date</span>
      </mat-error>

      <mat-form-field>
        <textarea matInput placeholder="Expected output" formControlName="output"></textarea>
      </mat-form-field>
      <mat-error>
      <span
        *ngIf="!activityForm.get('output').valid && activityForm.get('output').touched">Please provide expected output</span>
      </mat-error>

      <mat-form-field>
        <input matInput placeholder="Project name" formControlName="projectName">
      </mat-form-field>
      <mat-error>
      <span
        *ngIf="!activityForm.get('projectName').valid && activityForm.get('projectName').touched">Please provide activity will take place</span>
      </mat-error>

      <mat-form-field>
        <mat-select placeholder="Result area" formControlName="resultArea">
          <mat-option *ngFor="let r of resultAreas" [value]="r.code">
            {{ r.displayName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-error>
      <span
        *ngIf="!activityForm.get('resultArea').valid && activityForm.get('resultArea').touched">Please select result area</span>
      </mat-error>

      <mat-form-field>
        <mat-select placeholder="Objective" formControlName="objective">
          <mat-option *ngFor="let r of objectives" [value]="r.code">
            {{ r.displayName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-error>
      <span
        *ngIf="!activityForm.get('objective').valid && activityForm.get('objective').touched">Please select objective</span>
      </mat-error>

      <mat-form-field>
        <input matInput placeholder="Submitted by" formControlName="submittedBy">
      </mat-form-field>
      <mat-error>
      <span
        *ngIf="!activityForm.get('submittedBy').valid && activityForm.get('submittedBy').touched">Please provide person who submitted activity</span>
      </mat-error>

      <mat-form-field>
        <input matInput placeholder="Implementor" formControlName="implementor">
      </mat-form-field>
      <mat-error>
      <span
        *ngIf="!activityForm.get('implementor').valid && activityForm.get('implementor').touched">Please provide implementor</span>
      </mat-error>

      <mat-form-field>
        <mat-select placeholder="Position of submitting officer" formControlName="officerPosition">
          <mat-option *ngFor="let r of positions" [value]="r.code">
            {{ r.displayName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-error>
          <span *ngIf="!activityForm.get('officerPosition').valid && activityForm.get('officerPosition').touched">
            Please select position of submitting officer
          </span>
      </mat-error>
    </form>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="activityForm.value" [disabled]="!activityForm.valid" cdkFocusInitial>OK
  </button>
</div>
