<div class="example-container mat-elevation-z8">
  <mat-toolbar>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <span class="example-spacer"></span>
    <!--<button mat-button
            (click)="openActivityDialog({})">Add Issue
    </button>-->
    <a routerLink="/add/activity" mat-icon-button>
      <mat-icon>add</mat-icon>
    </a>
  </mat-toolbar>
  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="activityCode">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Activity code</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.activityCode}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="transactionCode">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Transaction code</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <!--<a [routerLink]="['/activities', element.transactionCode,'related']">
          {{element.transactionCode}}
        </a>-->
        {{element.transactionCode}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="activity">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Activity</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.activity}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="orgUnit">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Organisation</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.orgUnit}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="plannedStartDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Planned start date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.plannedStartDate}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="plannedEndDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Planned end date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.plannedEndDate}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="projectName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Project</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.projectName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="resultArea">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Result area</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.resultArea}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="objective">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Objective</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.objective}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="element.status"> {{element.status}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="implementor">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Implementor</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.implementor}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Details</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a [routerLink]="['/activities', element.trackedEntityInstance]">
          Details
        </a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20,50]" [showFirstLastButtons]="true">
  </mat-paginator>
</div>


