<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>
    <!-- Generic column definition -->
    <ng-container matColumnDef="transactionCode">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Activity Transaction Code</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.transactionCode}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="orgUnit">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Organisation</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.orgUnit}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="issue">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Issue</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.issue}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="issueStatus">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Issue Status</mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="element.issueStatus">
        {{element.issueStatus}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Details</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a [routerLink]="['/issues', element.trackedEntityInstance]">
          Details
        </a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20,50]" [showFirstLastButtons]="true">
  </mat-paginator>
</div>
