<h1 mat-dialog-title>Adding Activity</h1>
<div mat-dialog-content>
  <form [formGroup]="activityForm">
    <mat-form-field>
      <input matInput placeholder="Activity Code" formControlName="activityCode">
    </mat-form-field>
    <mat-error>
      <span *ngIf="!activityForm.get('activityCode').valid && activityForm.get('activityCode').touched">Please provide activity code</span>
    </mat-error>

    <mat-form-field>
      <input matInput placeholder="Activity Name" formControlName="activityName">
    </mat-form-field>
    <mat-error>
      <span *ngIf="!activityForm.get('activityName').valid && activityForm.get('activityName').touched">Please provide activity name</span>
    </mat-error>
    <mat-form-field>
      <mat-select placeholder="Result Area" formControlName="resultArea">
        <mat-option *ngFor="let r of resultAreas" [value]="r">
          {{ r.resultAreaName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-error>
      <span *ngIf="!activityForm.get('resultArea').valid && activityForm.get('resultArea').touched">Please select result area</span>
    </mat-error>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="activityForm.value" cdkFocusInitial>OK</button>
</div>
