<h1 mat-dialog-title>Adding Objective</h1>
<div mat-dialog-content>
  <form [formGroup]="objectiveForm">
    <mat-form-field>
      <input matInput placeholder="Objective Code" formControlName="objectiveCode">
    </mat-form-field>
    <mat-error>
      <span *ngIf="!objectiveForm.get('objectiveCode').valid && objectiveForm.get('objectiveCode').touched">Please provide objective code</span>
    </mat-error>

    <mat-form-field>
      <input matInput placeholder="Objective Name" formControlName="objectiveName">
    </mat-form-field>
    <mat-error>
      <span *ngIf="!objectiveForm.get('objectiveName').valid && objectiveForm.get('objectiveName').touched">Please provide objective name</span>
    </mat-error>

    <mat-form-field>
      <mat-select placeholder="Project" formControlName="project">
        <mat-option *ngFor="let r of projects" [value]="r">
          {{ r.projectName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-error>
      <span *ngIf="!objectiveForm.get('project').valid && objectiveForm.get('project').touched">Please select project</span>
    </mat-error>

  </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="objectiveForm.value" cdkFocusInitial>OK</button>
</div>
